
<h2><%= @eatery.name() %> - <%= @eatery.location() %></h2>



<form action="/burgers/new">
  <input type="hidden" name="eatery_id" value="<%= @eatery.id %>">
  <button type="submit" value="Add a New Burger" class="mbutton" style="text-decoration:none">Add a new Burger</button>
</form>
<form action="/deals/new">
  <input type="hidden" name="eatery_id" value="<%= @eatery.id %>">
  <button type="submit" value="Add a Deal" class="mbutton" style="text-decoration:none">Add a new Deal</button>
</form>
<form action="/deals">
  <input type="hidden" name="eatery_id" value="<%= @eatery.id %>">
  <button type="submit" value="List Deals" class="mbutton" style="text-decoration:none">List Deals</button>
</form>




<% @eatery.burgers.each do |burger| %>

<h4><%= burger.name() %> - <%= burger.price() %></h4>


<form method="get" action="/burgers/<%= burger.id  %>/edit">
  <button type="submit" value="Edit Burger" class="mbutton" style="text-decoration:none">Edit Burger</button>
</form>

<form method="post" action="/burgers/<%= burger.id  %>/delete">
  <button type="submit" value="Delete Burger" class="mbutton" style="text-decoration:none">Delete Burgers</button>
</form>


<% end %>


</div>
